.responsive1 {
    width: 100%;
    height: 1390px;
    background-color: white;
    border-bottom-color: rgb(231, 231, 231);
    border-style: solid;
    border-top: none;
    border-left: none;
    border-width: 1px;
}

.Main_Big_Images_r {
    float: left;
    width: 930px;
    height: 680px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    overflow: hidden;
}

.Main_Big_Images_l, .Main_Big_Paragraph {
    float: right;
    width: 930px;
    height: 680px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    overflow: hidden;
}

.Main_Big_Paragraph {
    width:900px; 
    height:650px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 7px;
    background-color: white;
}

.Big_Paragraph_1 {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding-top: 150px;
    padding-left: 10px;
}

.Big_Paragraph_1::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(173, 173, 173);
    font-size: 25px;
}

.Information_gallery {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.Information_gallery::after { 
    content: " by";
    color: rgb(173, 173, 173);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.Information_gallery_rest {
    color: rgb(173, 173, 173);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
}

.portrait_info {
    float:right;
    padding-right: 340px;
    padding-top: 0;
    margin-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.portrait_info::after {
    content: "\A Senior Real Estate Manager \A Ford Motor Company";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    white-space: pre;
    color: rgb(173, 173, 173);
}

.Main_Big_Images_r img, .Main_Big_Images_l img {
    transition: 3s transform ease-in-out;
}

.Main_Big_Images_r:hover img, .Main_Big_Images_l:hover img  {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.prueba_boton {
    position: absolute;
    transform: translate(-240px, 600px);
    height: 50px;
    width: 220px;
    background-color: rgb(236, 165, 60);
    border-color: transparent;
    margin: 0px 0px;
    padding: 1px 20px;
    border-radius: 32px;
    transition: all 0.7s !important;
    opacity: 0;
}

.Main_Big_Images_r:hover button {
    opacity: 1;
    transform: translate(-250px, 600px);
}

.prueba_boton:hover, .prueba_boton_l:hover {
    box-shadow: inset 0px -80px 0px rgb(241, 199, 134);
    border-color: transparent;
}

.prueba_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.prueba_text::after {
    content: " \f178";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 10px;
    font-size: 20px;
    color: black;
}

.prueba_text:hover:after {
    content: "   \f178";
    white-space: pre;
}

.prueba_boton_l {
    position: absolute;
    transform: translate(-240px, 600px);
    height: 50px;
    width: 220px;
    background-color: rgb(236, 165, 60);
    border-color: transparent;
    margin: 0px 0px;
    padding: 1px 20px;
    border-radius: 32px;
    transition: all 0.7s !important;
    opacity: 0;
}

.Main_Big_Images_l:hover button {
    opacity: 1;
    transform: translate(-250px, 600px);
}