@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

.Main13 {
    width: 100%;
    height: 170px;
    background-color: white;
    padding-top: 10px;
}

.Mainn13 {
    margin-left: 350px;
    margin-right: 350px;
}

.Mainn13::after {
    content: "";
    display: table;
    clear: both;
}

.Mainn13_1, .Mainn13_2, .Mainn13_3 {
    float: left;
    width: 33.33%;
}

.Mainn13_1 {
    text-align: left;
}

.Mainn13_1_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.Mainn13_1_text::after {
    content: "\A 13700 Providence Road, Suite 200 \A Weddington, NC 28104";
    white-space: pre;
    color: rgb(168, 167, 167);
    font-weight: lighter;
}

.Mainn13_1_text::before {
    content: url("../_Source/logo.svg");
}

.Mainn13_2 {
    text-align: center;
}

.Mainn13_2_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 500;
}

.Mainn13_3 {
    text-align: right;
    margin-top: 20px;
}

.Mainn13_3_list {
    padding-left: 0px;
    padding-top: 20px;
    margin-top: 10px;
}

.Mainn13_3_list li {
    display:inline;
    padding-right:10px;
    color: rgb(170, 170, 170);
}

.Mainn13_3_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(192, 192, 192);
    font-size: 11px;
    margin-top: 15px;
}

.navbar_1 {
    overflow: hidden;
    background-color: transparent;
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 70px;
    align-items: center;
    padding-left: 300px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 2px rgba(167, 167, 167, 0.3);
    transition: all 0.2s ease;
}
  
.navbar_obj {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.2s ease;
}

.navbar_obj:hover {
    color: #aaaaaa;
}

.message_button {
    position: fixed;
    top: 90%;
    left: 95%;
    border-radius: 50%;
    border: none;
    background-color: rgb(23, 23, 36);
    color: white;
    width: 55px;
    height: 55px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.33);
    font-size: 30px;
}

.faq_option {
    margin-left: 170px;
    font-size: 15px !important;
    margin-top: 5px;
} 

.nav_button {
    height: 50px;
    width: 140px;
    background-color: #2ebd71;
    border-color: transparent;
    margin-top: 10px;
    padding: 1px 20px;
    border-radius: 32px;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.2s ease,
                box-shadow 0.7s ease
    ;
}

.nav_button:hover {
    box-shadow: inset 0px -80px 0px #61d195;
    border-color: transparent;
}

.rollpark_option {
    font-family: 'Baumans', cursive !important;
    font-size: 35px !important;
    margin-right: 170px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 10px;
}

.rollpark_option:hover {
    color: white;
}

/*----------------------------------------------------------------SCROLL STYLES---------------------------------------------------------------------------------------------------*/
.navbar_1.scrolled {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 70px;
    align-items: center;
    padding-left: 300px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.navbar_obj.scrolled1 {
    float: left;
    display: block;
    color: #2ebd71;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_obj.scrolled2 {
    float: left;
    display: block;
    color: #adadad;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_obj.scrolled2:hover {
    color: #000000;
}

.nav_button.scrolled3 {
    height: 50px;
    width: 140px;
    background-color: rgb(236, 165, 60);
    border-color: transparent;
    margin-top: 10px;
    padding: 1px 20px;
    border-radius: 32px;
    font-size: 15px;
    color: black;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_button.scrolled3:hover {
    box-shadow: inset 0px -80px 0px rgb(241, 199, 134);
    border-color: transparent;
}